# Python cache files
__pycache__/
*.pyc
*.pyo

# Чувствителна информация
db.sqlite3
.env
*.env

# Django статични файлове и качени файлове
staticfiles/

# Virtual Environment
venv/
.venv/

# PyCharm/IDEA project files
.idea/

# SQLite временно създавани файлове
*.sqlite3
*.sqlite

# Други специфични файлове
identifier.sqlite
