{% extends 'base.html' %}

{% block title %}Правен Асистент | Страница не е намерена{% endblock %}

{% block content %}
<section class="hero-section hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 text-center mx-auto">
                <h2 class="page-404-title">404</h2>
                <h3>Страницата не е намерена</h3>
                <p>Страницата, която търсите, не съществува или е преместена.</p>
                <a class="custom-btn btn mt-4" href="{% url 'dashboard' %}">Обратно към Началото</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
