{% extends 'base.html' %}
{% load static %}

{% block title %}Смяна на Парола - Правен Асистент{% endblock %}

{% block content %}
    <section class="hero-section d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 mx-auto">
                    <form class="custom-form" method="POST">
                        {% csrf_token %}
                        <h2 class="hero-title text-center mb-4 pb-2">Смяна на парола</h2>

                        <!-- Поле за стара парола -->
                        <div class="form-floating mt-4">
                            <input type="password" name="old_password" id="old_password" class="form-control"
                                   placeholder="Стара Парола" required>
                            <label for="old_password">Стара Парола</label>
                        </div>

                        <!-- Поле за нова парола -->
                        <div class="form-floating mt-4">
                            <input type="password" name="new_password1" id="new_password1" class="form-control"
                                   placeholder="Нова Парола" required>
                            <label for="new_password1">Нова Парола</label>
                        </div>

                        <!-- Поле за потвърждение на паролата -->
                        <div class="form-floating">
                            <input type="password" name="new_password2" id="new_password2" class="form-control"
                                   placeholder="Потвърдете Паролата" required>
                            <label for="new_password2">Потвърдете Паролата</label>
                        </div>

                        <div class="row">
                            <div class="col-lg-5 col-12 mx-auto">
                                <button type="submit" class="form-control btn btn-primary">Запази</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        <div class="video-wrap">
            <video autoplay loop muted class="custom-video" poster="">
                <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
                Вашият браузър не поддържа видео таг.
            </video>
        </div>
    </section>
{% endblock %}
